:host {
  .meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    background-color: var(--d1);
    height: 480px;
    width: 480px;
    border-radius: 5px;
    padding: 10px;

    &__subtitle {
      typography {
        color: var(--d50);
      }
    }
  }
}
